.dark{
    background-color: black;
    color: darkgray;
    align-content: center;
}
.playerProfile{
    width: 400px;
    height: 160px;
    border-style: inset;
    border-width: 1px;
    outline-color: darkgray;
    float: left;
    position: relative;
    padding: 8px;
    margin: 4px;
}
.playerName{
    font-size: 25pt;
    font-stretch: 80%;
}
.money{
    font-size: 40pt;
    color: limegreen;
    float: right;
}
.profilePic{
    width: 64px;
    height: 64px;
    float: left;
    padding-right: 8px;
}
.wrapper{
    box-sizing: content-box;
    width: 852px;
    height: 180px;
    align-content: center;
}